<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/css/admin.css" rel="stylesheet" />
</head>
<header>
		<div class="container">
			<div class="brand">
				<div class="logo">
					<a asp-page="/Index">
						<img src="/img/img/icons/online_shopping.png">
						<div class="logo-text">
							<p class="big-logo">Ecommerce</p>
							<p class="small-logo">online shop</p>
						</div>
					</a>
				</div>
				<div class="shop-icon">
					<a asp-page="/AdminOrders">
						<img src="/img/img/icons/account.png">
					</a>
				</div> 
			</div> 
		</div> 
	</header> 
<body>
<main>
    @RenderBody()
</main>
</body>
<footer>
	<div class="container">
		<div class="footer-bar">
			<div class="copyright-text">
				
			</div>
		</div>
	</div>
</footer>
</html>

