<!DOCTYPE html>
<html>
<head>
	<title>My Store</title>
	
	<link href="css/style.css" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<header>
    <div class="container">
        <div class="brand">
            <div class="logo">
                <a asp-page="Index">
                    <img src="img/img/icons/online_shopping.png">
                    <div class="logo-text">
                        <p class="big-logo">Ecommerce</p>
                        <p class="small-logo">online shop</p>
                    </div>
                </a>
            </div> <!-- logo -->
            <div class="shop-icon">
                <div>
                    <a asp-page="LogIn">
                    <img src="img/img/icons/account.png">
                    </a>
                </div>
                
                <div>
                    <a asp-page="/Cart">
                    <img src="img/img/icons/shopping_cart.png">
                    </a>
                </div>
            </div> <!-- shop icons -->
        </div> <!-- brand -->

        <div class="menu-bar">
	        <div class="menu">
		        <ul>
			        <li><a asp-page="Index">Home</a></li>
			        <li><a asp-page="/cart">Cart</a></li>
			        <li><a asp-page="/account">Account</a></li>
			        <li><a asp-page="/AdminOrders">Admin</a></li>
		        </ul>
	        </div>
	        <form method="get" asp-page="/SearchPage">
		        <div class="search-container">
			        <input type="text" id="searchInput" name="query" placeholder="Search...">
			        <button class="search-button" type="submit" id="searchButton">🔍</button>
			        <div id="searchResults"></div>
		        </div>
	        </form>
	        @* <div class="search-bar"> *@
         @*        <form method="get" asp-page="/SearchPage"> *@
         @*            <div class="form-group"> *@
         @*                <input type="text" class="form-control" id="search-input" name="query" placeholder="Search"> *@
         @*                <button type="submit"> *@
	        @*                 <img src="img/img/icons/search.png"> *@
         @*                </button> *@
         @*                <div id="suggestions" style="display: none;"> *@
	        @*                 <p></p> *@
	        @*                 <br/> *@
	        @*                 <p></p> *@
	        @*                 <br/> *@
	        @*                 <p></p> *@
         @*                </div> *@
         @*            </div> *@
         @*        </form> *@
         @*    </div> *@
        </div> <!-- menu -->
    </div> <!-- container -->
</header> <!-- header -->
<body>
<main>
	@RenderBody()
</main>
</body>
<footer>
    <div class="container">
    			<div class="footer-widget">
    				<div class="widget">
    					<div class="widget-heading">
    						<h3>Important Link</h3>
    					</div>
    					<div class="widget-content">
    						<ul>
    							<li><a asp-page="Index">About</a></li>
    							<li><a asp-page="Index">Contact</a></li>
    							<li><a asp-page="Index">Refund Policy</a></li>
    							<li><a asp-page="Index">Terms & Conditions</a></li>
    						</ul>
    					</div>
    				</div>
    				<div class="widget">
    					<div class="widget-heading">
    						<h3>Information</h3>
    					</div>
    					<div class="widget-content">
    						<ul>
    							<li><a asp-page="/account">My Account</a></li>
    							<li><a asp-page="/orders">My Orders</a></li>
    							<li><a asp-page="/cart">Cart</a></li>
    							<li><a asp-page="/checkout">Checkout</a></li>
    						</ul>
    					</div>
    				</div>
    				<div class="widget">
    					<div class="widget-heading">
    						<h3>Follow us</h3>
    					</div>
    					<div class="widget-content">
    						<div class="follow">
    							<ul>
    								<li><a asp-page="Index"><img src="img/img/icons/facebook.png"></a></li>
    								<li><a asp-page="Index"><img src="img/img/icons/twitter.png"></a></li>
    								<li><a asp-page="Index"><img src="img/img/icons/instagram.png"></a></li>
    							</ul>
    						</div>						
    					</div>
    					<div class="widget-heading">
    						<h3>Subscribe for Newsletter</h3>
    					</div>
    				</div>
    			</div>
    		</div>
</footer>

</html>