@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "HeaderPartial";
}
<body>
	<div class="text-center">
		<main>
			<div class="container">
				<div class="new-product-section">
					<div class="product-section-heading">
						<h2>Featured Products</h2>
						<h3>!!!</h3>
					</div>
					<div class="product-content">
						@foreach (var product in Model.Products)
						{
							<div class="product">
								<a asp-page="/ViewProduct" asp-route-id="@product.ProductID">
									<img src="img/products/@(product.ProductID).jpg">
								</a>
								<div class="product-detail">
									<h3>Placeholder</h3>
									<h2>@product.Name</h2>
									<a asp-page="/ViewProduct" asp-route-id="@product.ProductID">View product</a>
									<p>@product.Price $</p>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</main>

		<form method="get" action="/ViewProduct">
			<input type="number" name="id"/>
			<input type="submit" value="ViewProduct"/>
		</form>
	</div>
</body>